$primary-color: #33322;
$sec-color:#ff6600;    
$black:#000000;
$grey: #f3f3f3;;      

p{color:$black;}
h1{color:$primary-color;}
a{color: $sec-color;}
form{background: $black;}
div{background: $grey;}  



h4{color: red;}        
