<div class="container add-income-container">
    <div class="row">
        <div class="col-xs-12 padding-bottom-10">
            <p>Add income</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="pull-left">
                <div class="group paper-input">
                    <input type="text" data-ng-model="vm.incomeName" required focus>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Description</label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="pull-left">
                <div class="group paper-input">
                    <input type="number" data-ng-model="vm.incomeValue" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Amount</label>
                </div>
            </div>
        </div>
    </div>
</div>