<div class="container extra-expense">
    <div class="row">
        <div class="col-xs-12 padding-bottom-10">
            <p ng-show="vm.extraExpense">Add extra expense</p>
            <p ng-show="!vm.extraExpense">Add planed expense</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="pull-left">
                <div class="group paper-input">
                    <input type="text" data-ng-model="vm.expenseName" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Item</label>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="pull-left">
                <div class="group paper-input padding-top-20">
                    <select data-ng-model="vm.expenseCategory" ng-options="cat for cat in vm.allCategories"></select>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="pull-left">
                <div class="group paper-input">
                    <input type="number" data-ng-model="vm.expenseCost" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Amount</label>
                </div>
            </div>
        </div>
    </div>
</div>
