<div class="container extra-expense">
    <div class="row">
        <div class="col-xs-12 padding-bottom-10">
            <p>Add expense</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="pull-left">
                <div class="group paper-input">
                    <input type="text" data-ng-model="vm.expenseName">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Item name</label>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="pull-left">
                <div class="group paper-input">
                    <input type="text" data-ng-model="vm.expenseCategory">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Category</label>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="pull-left">
                <div class="group paper-input">
                    <input type="number" data-ng-model="vm.expenseCost">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Cost</label>
                </div>
            </div>
        </div>
    </div>
</div>