<div class="container budget">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="group paper-input">
                    <input type="text" data-ng-model="query">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Search...</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padding-bottom-20">
            <p class="pull-left">Available budgets: <span class="badge">{{vm.budgets.length}}</span></p>
            <a class="btn btn-blue-900 pull-right" href="#/createbudget">Create budget</a>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="(key, value) in vm.budgets | filter: query" ng-attr-class="{{!$last && 'row border-btm items' || 'row items'}}">
            <div class="pull-left col-xs-12">
           
                <h4 class="pull-left">{{$index + 1}}. <a href="#/viewbudget/{{key}}">{{value.title}}</a></h4>
                <span class="glyphicon glyphicon-trash pull-right padding-top-25" data-ng-click="vm.delete($index)" aria-hidden="true"></span>
            </div>
            <div class="pull-left col-xs-12">
                <span class="padding-left-20"> <strong> Balance: </strong>{{value.currentBalance}}€</span>
            </div>
        </div>
    </div>
</div>