<div class="container budget">
    <div class="row">
        <div ng-show="vm.search" class="col-xs-12">
            <form class="form-horizontal">
                <div class="group paper-input">
                    <input type="text" data-ng-model="query">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Search...</label>
                </div>
            </form>
        </div>
        <div ng-show="!vm.search" class="col-xs-12">
            <form class="form-horizontal" ng-submit="vm.createBudget(vm.budgetTitle)">
                <div class="group paper-input">
                    <input type="text" data-ng-model="vm.budgetTitle">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Type to create new budget...</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padding-bottom-20">
            <button type="button" class="btn btn-primary pull-right" ng-show="vm.search" data-ng-click="vm.search = false">Create budget</button>
            <button type="button" class="btn btn-primary pull-right" ng-show="!vm.search" data-ng-click="vm.search = true">Back to search</button>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="(key, value) in vm.budgets | filter: query" ng-attr-class="{{!$last && 'col-xs-12 border-btm items' || 'col-xs-12 items'}}">
            <p class="pull-left">{{$index + 1}}. <a href="#/viewbudget/{{key}}">{{value.title | uppercase}}</a></p>
            <span class="glyphicon glyphicon-trash pull-right" data-ng-click="vm.delete($index)" aria-hidden="true"></span>
        </div>
    </div>
</div>
