<div class="container budget">
    <div class="row">
        <div class="row">
            <div class="col-xs-12 padding-bottom-20">
                <div class="col-xs-12">
                    {{vm}}
                        <div class="group paper-input">
                            <input type="text" data-ng-model="vm.budgetTitle">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Title</label>
                        </div>
                        <div class="group paper-input">
                            <input type="date" data-ng-model="vm.startDate"></input>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Date from</label>
                        </div>
                        <div class="group paper-input">
                            <input type="date" data-ng-model="vm.endDate"></input>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Date to</label>
                        </div>
                        <div class="group paper-input">
                            <input type="number" data-ng-model="vm.startingBudget"></input>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Starting budget</label>
                        </div>
                    <button type="button" class="btn btn-primary pull-right" ng-click="vm.createBudget(vm.budgetTitle, vm.startDate, vm.endDate, vm.startingBudget)">Create</button>
                </div>
            </div>
        </div>
    </div>
