<div class="container budget">
<form name="createBudgetForm">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="padding-bottom-20"> Create budget</h1>
            <div class="group paper-input">
                <input type="text" data-ng-model="vm.budgetTitle" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Title</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="group paper-input">
                <input type="date" data-ng-model="vm.startDate" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Start date</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="group paper-input">
                <input type="date" data-ng-model="vm.endDate" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>End date</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="group paper-input">
                <input type="number" data-ng-model="vm.startingBudget" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Starting budget</label>
            </div>
        </div>
    </div>
    </form>
    <button type="button" class="btn btn-blue-900 pull-right" ng-disabled="createBudgetForm.$invalid" ng-click="vm.createBudget(vm.budgetTitle, vm.startDate, vm.endDate, vm.startingBudget)">Create</button>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 padding-bottom-30">
            <div class="pull-left">
                <a class="btn btn-blue-900" ng-click="vm.extraExpense = true; vm.monthlyExpense = false">Add expense</a>
                <a class="btn btn-blue-900" ng-click="vm.monthlyExpense = true; vm.extraExpense = false">Plan this month expenses</a>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-show="vm.extraExpense">
    <div class="row">
        <div class="col-xs-12 padding-bottom-20">
            <ul class="list-inline" ng-repeat="(key, value) in vm.expenses">
                <li>{{key+1}}. Name: <strong> {{value.name}}</strong></li>
                <li>Category: <strong>{{value.category}} </strong></li>
                <li> Cost: <span class="label label-info">{{value.cost | currency:"€ "}}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container" ng-show="vm.monthlyExpense">
    <div class="row">
        <div class="col-xs-12 padding-bottom-20">
            <ul class="list-inline" ng-repeat="(key, value) in vm.monthlyExpenses">
                <li>{{key+1}}. Name: <strong> {{value.name}}</strong></li>
                <li>Category: <strong>{{value.category}} </strong></li>
                <li> Cost: <span class="label label-info">{{value.cost | currency:"€ "}}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container extra-expense" ng-show="vm.extraExpense">
    <div class="row">
        <div class="col-xs-12">
        <form name="createExpenseForm">
            <add-expense extra-expense="vm.extraExpense" expense-name="vm.expenseName" expense-category="vm.expenseCategory" expense-cost="vm.expenseCost" />
            </form>
        </div>
        <div class="btn-container">
            <button type="button" class="btn btn-blue-900 pull-right" ng-disabled="createExpenseForm.$invalid" ng-click="vm.createExpense(vm.expenseName, vm.expenseCategory, vm.expenseCost)">Add expense</button>
        </div>
    </div>
</div>
<div class="container monthly-expense" ng-show="vm.monthlyExpense">
    <div class="row">
        <div class="col-xs-12">
        <form name="createExtraExpenseForm">
            <add-expense extra-expense="vm.extraExpense" expense-name="vm.monthlyExpenseName" expense-category="vm.monthlyExpenseCategory" expense-cost="vm.monthlyExpenseCost" />
            </form>
        </div>
        <div class="btn-container">
            <button type="button" class="btn btn-blue-900 pull-right" ng-disabled="createExtraExpenseForm.$invalid" ng-click="vm.createMonthlyExpense(vm.monthlyExpenseName, vm.monthlyExpenseCategory, vm.monthlyExpenseCost)">Create monthly expense</button>
        </div>
    </div>
</div>