<div class="container view-budget">
    <div class="row">
        <div class="col-xs-12 padding-bottom-20">
            <toast-msg class="pull-right" data-show-msg="vm.sucessfullyAddedMsg" data-ng-if="vm.sucessfullyAddedMsg"></toast-msg>
            <h1 data-ng-if="!vm.editTitle" data-ng-mouseover="vm.editTitleIcon = true" data-ng-mouseleave="vm.editTitleIcon = false">{{vm.currentBudget.title}}<img class="svg-icon" data-ng-if="vm.editTitleIcon" data-ng-click="vm.editTitle = true" src="icons/pencil.svg"/></h1>
            <div class="edit-input-container margin-bottom-10" data-ng-if="vm.editTitle">
                <form class="margin-top-20" ng-submit="vm.updateBudgetTitle(vm.budgetId, vm.budgetTitle); vm.editTitle = false">
                    <div class="group-no-margin paper-input">
                        <input type="text" data-ng-model="vm.budgetTitle" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{vm.currentBudget.title}}</label>
                    </div>
                </form>
                <a data-ng-click="vm.editTitle = false">Cancel</a>
            </div>
            <ul class="list-inline padding-top-20">
                <li>Start date: <span class="label label-info">{{vm.currentBudget.budgetStartDate}}</span></li>
                <li>End date: <span class="label label-info">{{vm.currentBudget.budgetEndDate}}</span></li>
                <li>Start balance: <span class="label label-success"> {{vm.currentBudget.firstDayBalance | currency: vm.currency +" "}}</span></li>
                <li>Current ballance: <span class="label label-warning">{{vm.currentBudget.currentBalance | currency: vm.currency +" "}}</span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding-margin" data-ng-if="vm.currentBudget.expenses">
            <h4>Extra expenses:</h4>
            <ul class="list-unstyled">
                <li class="padding-bottom-10" ng-repeat="(key, value) in vm.currentBudget.expenses">
                    {{key+1}}. Name: <strong> {{value.name}}</strong> Category: <strong>{{value.category}} </strong> Cost: <span class="label label-info">{{value.cost | currency: vm.currency+" "}}</span>
                    <span class="glyphicon glyphicon-trash" data-ng-click="vm.expenseType = 'extra'; vm.deleteExpense(key, vm.expenseType)" aria-hidden="true"></span>
                </li>
            </ul>
            <h4 data-ng-if="vm.currentBudget.expenses.length > 0" class="padding-top-10">Total: <span class="label label-danger">{{vm.currentBudget.totalExpenses | currency: vm.currency+" "}}</span></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding-margin" data-ng-if="vm.currentBudget.monthlyExpenses">
            <h4>Planed expenses: </h4>
            <ul class="list-unstyled">
                <li class="padding-bottom-10" ng-repeat="(key, value) in vm.currentBudget.monthlyExpenses">
                    {{key+1}}. Name: <strong> {{value.name}}</strong> Category: <strong>{{value.category}} </strong> Cost: <span class="label label-info">{{value.cost | currency: vm.currency+" "}}</span>
                    <span class="glyphicon glyphicon-trash" data-ng-click="vm.expenseType = 'monthly'; vm.deleteExpense(key, vm.expenseType)" aria-hidden="true"></span>
                </li>
            </ul>
            <h4 data-ng-if="vm.currentBudget.monthlyExpenses.length > 0" class="padding-top-10">Total: <span class="label label-danger">{{vm.currentBudget.totalMonthlyExpenses | currency: vm.currency+" "}}</span></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding-margin" data-ng-if="vm.currentBudget.extraIncomes">
            <h4>Extra incomes: </h4>
            <ul class="list-unstyled">
                <li class="padding-bottom-10" ng-repeat="(key, value) in vm.currentBudget.extraIncomes">
                    {{key+1}}. Name: <strong> {{value.name}}</strong> Amount: <span class="label label-info">{{value.amount | currency: vm.currency+" "}}</span>
                    <span class="glyphicon glyphicon-trash" data-ng-click="vm.deleteIncome(key)" aria-hidden="true"></span>
                </li>
            </ul>
            <h4 data-ng-if="vm.currentBudget.extraIncomes.length > 0" class="padding-top-10">Total: <span class="label label-danger">{{vm.currentBudget.totalIncomes | currency: vm.currency+" "}}</span></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding-margin" data-ng-if="vm.currentBudget.expenses || vm.currentBudget.monthlyExpenses">
            <div google-chart chart="chartObject"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padding-bottom-30 padding-top-20">
            <p data-ng-if="!vm.currentBudget.expenses && !vm.currentBudget.monthlyExpenses"><strong>It look's like your budget is empty.</strong> Add expenses to you budget.</p>
            <div class="pull-left">
                <a class="btn btn-blue-900" data-ng-click="vm.extraExpense = true; vm.monthlyExpense = false; vm.addIncome = false">Add extra expense</a>
                <a class="btn btn-blue-900" data-ng-click="vm.monthlyExpense = true; vm.extraExpense = false; vm.addIncome = false">Add monthly expenses</a>
                <a class="btn btn-blue-900" data-ng-click="vm.extraExpense = false; vm.monthlyExpense = false; vm.addIncome = true">Add income</a>
            </div>
        </div>
    </div>
    <div class="row extra-expense" data-ng-if="vm.extraExpense">
        <div class="col-xs-12">
            <form name="expensesForm">
                <add-expense extra-expense="vm.extraExpense" expense-name="vm.expenseName" expense-category="vm.expenseCategory" expense-cost="vm.expenseCost" data-submit-form="expensesForm.$submitted"/>
            </form>
        </div>
        <div class="btn-container">
            <button type="button" class="btn btn-blue-900 pull-right" data-ng-disabled="expensesForm.$invalid" data-ng-click="vm.expenseType = 'extra'; vm.addExpense(vm.budgetId, vm.expenseName, vm.expenseCategory, vm.expenseCost, vm.expenseType)">Add extra expense</button>
        </div>
    </div>
    <div class="row monthly-expense" data-ng-if="vm.monthlyExpense">
        <div class="col-xs-12">
            <form name="monthlyExpensesForm">
                <add-expense extra-expense="vm.extraExpense" expense-name="vm.monthlyExpenseName" expense-category="vm.monthlyExpenseCategory" expense-cost="vm.monthlyExpenseCost" data-submit-form="monthlyExpensesForm.$submitted"/></add-expense>
            </form>
        </div>
        <div class="btn-container">
            <button type="button" class="btn btn-blue-900 pull-right" data-ng-disabled="monthlyExpensesForm.$invalid" data-ng-click="vm.expenseType = 'monthly'; vm.addExpense(vm.budgetId, vm.monthlyExpenseName, vm.monthlyExpenseCategory, vm.monthlyExpenseCost, vm.expenseType)">Add planed expense</button>
        </div>
    </div>
    <div class="row add-income" data-ng-if="vm.addIncome">
        <div class="col-xs-12">
            <form name="addIncomeForm">
                <add-income income-name="vm.incomeName" income-value="vm.incomeValue" /></add-income>
            </form>
        </div>
        <div class="btn-container">
            <button type="button" class="btn btn-blue-900 pull-right" data-ng-disabled="addIncomeForm.$invalid" data-ng-click="vm.addIncomeToBudget(vm.incomeName, vm.incomeValue, vm.budgetId)">Add income</button>
        </div>
    </div>
</div>
