<div class="container budget">
    <div class="row">
        <div class="col-xs-12 padding-bottom-20">
            <h1>{{vm.allBudgets[vm.budgetId].title}}</h1>
            <p>Start date: <span class="label label-info">{{vm.allBudgets[vm.budgetId].budgetStartDate}}</span> End date: <span class="label label-info">{{vm.allBudgets[vm.budgetId].budgetEndDate}}</span> Start balance: <span class="label label-success"> {{vm.allBudgets[vm.budgetId].firstDayBalance | currency:"€ "}}</span> Current ballance: <span class="label label-warning">{{vm.allBudgets[vm.budgetId].currentBalance | currency:"€ "}}</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3>Extra expenses: </h3>
            <div ng-repeat="(key, value) in vm.allBudgets[vm.budgetId].expenses">
                <p>{{key+1}}. Name: <strong> {{value.name}}</strong> Category: <strong>{{value.category}} </strong> Cost: <span class="label label-info">{{value.cost | currency:"€ " }}</span></p>
            </div>
            <h4 class="pull-right padding-top-10">Total this month: <span class="label label-danger">{{vm.allBudgets[vm.budgetId].totalExpenses | currency:"€ "}}</span></h4>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h3>Monthly expenses: </h3>
            <div ng-repeat="(key, value) in vm.allBudgets[vm.budgetId].monthlyExpenses">
                <p>{{key+1}}. Name: <strong> {{value.name}}</strong> Category: <strong>{{value.category}} </strong> Cost: <span class="label label-info">{{value.cost | currency:"€ "}}</span></p>
            </div>
            <h4 class="pull-right padding-top-10">Planed expenses this month: <span class="label label-danger">{{vm.allBudgets[vm.budgetId].totalMonthlyExpenses | currency:"€ "}}</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padding-bottom-30 padding-top-20">
            <div class="pull-left">
                <a class="btn btn-blue-900" ng-click="vm.extraExpense = true; vm.monthlyExpense = false">Add expense</a>
                <a class="btn btn-blue-900" ng-click="vm.monthlyExpense = true; vm.extraExpense = false">Plan this month expenses</a>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.extraExpense">
        <div class="col-xs-12">
            <add-expense current-user="currentUser" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="group paper-input">
                <input type="text" data-ng-model="vm.budgetTitle">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Update Title</label>
            </div>
            <button type="button" class="btn btn-blue-900 pull-right" ng-click="vm.updateBudget(vm.budgetId, vm.budgetTitle)">Update</button>
        </div>
    </div>
</div>