<div class="container authentication">
    <div class="row" data-ng-if="!vm.logMe && !vm.regMe">
        <div class="col-xs-12">
            <p class="text-center">{{message}}</p>
            <h1 class="text-center">Budget-App</h1>
            <p class="text-center">Managing budget made easy!</p>
            <div class="center-block text-center">
                <button data-ng-if="!currentUser" type="button" class="btn btn-blue-900 btn-lg" id="login" data-ng-click="vm.logMe = true">Login</button>
                <button data-ng-if="!currentUser" type="button" class="btn btn-blue-900 btn-lg" id="register" data-ng-click="vm.regMe = true">Register</button>
                <a href="#/budget" data-ng-if="currentUser" class="btn btn-blue-900 btn-lg">Start</a>
            </div>
        </div>
    </div>
    <div class="login-container" data-ng-if="vm.logMe || vm.regMe">
        <div class="row padding-bottom-30">
            <div class="col-md-5 col-md-offset-3">
                <h1 data-ng-if="vm.logMe">Login form</h1>
                <h1 data-ng-if="vm.regMe">Registration form</h1>
            </div>
        </div>
        <div data-ng-if="errorMsg" class="row padding-bottom-30">
            <div class="col-md-5 col-md-offset-3">
                <p class="bg-danger">{{errorMsg}}. Try again<a data-ng-if="vm.regMe === true" data-ng-click="vm.regMe = true; vm.logMe = false;"><strong> or register</strong></a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <form name="authenticationForm" data-ng-submit="vm.redirectAuthenctication(vm.email, vm.pass, vm.name)" novalidate>
                    <div data-ng-if="vm.regMe === true" class="group paper-input">
                        <input type="text" name="name" placeholder="Your name..." data-ng-model="vm.name" required focus>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Your name</label>
                        <span class="bg-danger margin-top-10 pull-left" data-ng-if="authenticationForm.name.$touched && authenticationForm.name.$invalid">Your name is required.</span>
                    </div>
                    <div class="group paper-input">
                        <input type="email" name="email" placeholder="Email" data-ng-model="vm.email" required focus>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                        <span class="bg-danger margin-top-10 pull-left" data-ng-if="authenticationForm.email.$touched && authenticationForm.email.$invalid">Email is required.</span>
                    </div>
                    <div class="group paper-input">
                        <input type="password" name="pass" placeholder="Password" data-ng-model="vm.pass" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                        <span class="bg-danger margin-top-10 pull-left" data-ng-if="authenticationForm.pass.$touched && authenticationForm.pass.$invalid">Password is required.</span>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-blue-900 pull-right bnt-submit-login" data-ng-disabled="authenticationForm.$invalid">Log in</button>
                            <button type="submit" class="btn pull-right btn-link" data-ng-click="vm.cancel()">Go back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
