<div class="user container">
    <div class="row">
        <div class="col-xs-12 padding-bottom-20">
            <h1>Hello {{vm.currentUser.firstname}}!</h1>
            <p>User from {{vm.currentUser.date | date:'MM/dd/yyyy'}}</p>
            <p>Select currency: 
            <select data-ng-model="vm.currentUser.currency" data-ng-options="currency for currency in vm.listOfCurrencies" data-ng-change="vm.setCurrency(vm.currentUser.currency)"></select></p>
            <!-- <select ng-model="myColor" ng-options="color.name for color in colors"></select> -->
            {{vm.currentUser.currency}}
        </div>
    </div>
</div>
