<div class="user container">
    <div class="row">
        <div class="col-xs-12 padding-bottom-20">
            <h1>Hello {{vm.currentUser.firstname}}!</h1>
            <p>User from {{vm.currentUser.date | date:'MM/dd/yyyy'}}</p>
                <p class="pull-left">Your currency is <strong>{{vm.currentUser.currency[0].name}}</strong>. Would you like to change it?
                    <select class="pull-right" name="selectCurrency" id="selectCurrency" data-ng-options="currency.name for currency in vm.listOfCurrencies track by currency.id" data-ng-model="vm.currentUser.currency[0]"></select>
                </p>
        </div>
    </div>
</div>
