@import 'app/sass/colors.scss';
.budget {
    .glyphicon {
        cursor:pointer;
        color: $purple-200;
    }
    .glyphicon:hover {
        color: $purple-500!important;
    }
    .items {
        padding: 10px;
    }
    .items:hover {
        background: $purple-200;
    }
    .border-btm {
        border-bottom: 1px solid white;
    }
    .card {
        padding: 10px;
        margin: 0px 0px 5px 0px;
        background: white;
        border-right: 5px solid $gray-100;
    }
    .card:hover {
        background: $gray-100;
        .glyphicon {
            color: $purple-200;
        }
    }
    .card-title{
        color: $purple-500!important;
    }
}

.view-budget {
    .glyphicon {
        visibility: hidden;
    }
    .glyphicon:hover {
        cursor:pointer;
        color: $purple-500!important;
    }
    li:hover {
        .glyphicon {
            visibility: visible;
            color: $purple-200;
        }
    }
}
