@import 'app/sass/colors.scss';
.budget {
    .glyphicon {
        color: $blue-50;
    }
    .glyphicon:hover {
        color: $blue-300!important;
    }
    .items {
        padding: 10px;
    }
    .items:hover {
        background: $blue-100;
    }
    .border-btm {
        border-bottom: 1px solid white;
    }
    .card {
        padding: 10px;
        margin: 0px 0px 5px 0px;
        background: white;
    }
    .card:hover {
        .glyphicon {
            color: $blue-100;
        }
    }
}
