@import 'app/sass/colors.scss';
.btn-blue-900 {
    color: #fff;
    background-color: $blue-900;
    border-color: $blue-900;
    border-radius: 0;
}

.btn-blue-900:hover {
    background-color: $blue-500;
    border-color: $blue-500;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}

.btn-blue-900 {
    color: #fff;
    background-color: $purple-900;
    border-color: $purple-900;
    border-radius: 0;
}

.btn-blue-900:hover {
    background-color: $purple-500;
    border-color: $purple-500;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}

.btn-link {
    background-color: $gray-100;
    border-color: $gray-100;
    border-radius: 0;
}

.badge {
    background: $purple-500;
}

.label-big {
    padding: 5px;
    font-size: 14px;
    font-weight: 300;
}

.label-purple-200 {
    background-color: $purple-200;
}

.label-purple-300 {
    background-color: $purple-300;
}

.label-purple-400 {
    background-color: $purple-400;
}

.label-purple-500 {
    background-color: $purple-500;
}

.label-purple-600 {
    background-color: $purple-600;
}

.label-purple-700 {
    background-color: $purple-700;
}

.label-purple-800 {
    background-color: $purple-800;
}

.label-purple-900 {
    background-color: $purple-900;
}
