 $primary-gray: #757575;
 $blue-50: #E1F5FE;
 $blue-100: #B3E5FC;
 $blue-200: #81D4FA;
 $blue-300: #4FC3F7;
 $blue-400: #29B6F6;
 $blue-500: #03A9F4;
 $blue-600: #039BE5;
 $blue-700: #0288D1;
 $blue-800: #0277BD;
 $blue-900: #01579B;
 $purple-100: #E1BEE7;
 $purple-200: #CE93D8;
 $purple-300: #9575CD;
 $purple-400: #AB47BC;
 $purple-500: #9C27B0;
 $purple-900: #4A148C;
 $gray-100: #F5F5F5;
