@import 'app/sass/colors.scss';
.svg-icon {
    cursor: pointer;
    height: 16px;
    width: 16px;
    padding-bottom: 5px;
}

.no-results-svg {
    width: 10%;
    margin: 20px auto;
    display: block;
    fill: $purple-500;
}

@media (min-width: 900px) {
    .budget-planing-main-screen {
        display: block;
        width: 70%;
        margin: 20px auto;
    }
}