.budget-app {
    @import 'app/sass/nav-menu.scss';
    @import 'app/sass/utils.scss';
    @import 'app/sass/paper-input.scss';
    $primary-gray: #757575;
    $blue-50: #E3F2FD;
    $blue-100: #BBDEFB;
    $blue-500: #2196F3;
    $blue-700: #1976D2;
    $blue-900: #0D47A1;
    body {
        background: white;
        font-weight: 300;
    }
    p {
        color: $blue-500;
        padding: 0px;
    }
    .glyphicon {
        color: $blue-100;
    }
    .glyphicon:hover {
        color: $blue-500;
    }
 
    h2 {
        color: blue;
    }
    .items {
        padding: 10px;
    }
    .items:hover {
        background: $blue-50;
    }
    .border-btm {
        border-bottom: 1px solid $blue-50;
    }
}
