@import 'app/sass/colors.scss';
nav-menu {
    .navbar-inverse {
        background: $purple-500;
        border-bottom: solid 2px $purple-200;
    }
    .navbar-inverse .navbar-brand:focus,
    .navbar-inverse .navbar-brand:hover {
        color: $purple-100;
    }
    .navbar-inverse .navbar-brand {
        color: white;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: white;
    }
    .navbar-nav>a {
        color: white;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px;
        float: right;
    }
    .navbar-nav>a:hover {
        color: $purple-100;
    }
    .navbar-right .dropdown-menu {
        margin-top: -15px;
    }
    .navbar-inverse .navbar-toggle {
        border-color: $purple-500;
    }
    .navbar-inverse .navbar-toggle:hover {
        background: $purple-500;
    }
    .navbar-inverse .navbar-collapse{
        border-color: $blue-700; 
    }
}