 @import 'app/sass/colors.scss';
 toast-msg {
     .toast-msg-container {
         background: $purple-500;
         padding: 8px;
         right: 0px;
         position: fixed;
     }
     p {
         padding: 0px;
         margin: 0px;
         color: white;
     }
 }
