@import 'app/sass/colors.scss';
a {
    color: $purple-500;
}

a:hover {
    color: $purple-900;
}

.truncate {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.purple-500 {
    color: $purple-500;
}
